{% extends 'base.html' %}
{% load static %}

{% block customcss %}
<link href="{% static 'share.css' %}" rel="stylesheet" />
{% endblock customcss %} 

{% block content %}
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'public' %}"><img src="../media/mario_logo.png" width="25px" height="25px">&nbsp;MarioShare</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarsExampleDefault"
      aria-controls="navbarsExampleDefault"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item active">
          <a class="nav-link" aria-current="page" href="{% url 'public' %}"
            >ホーム</a
          >
        </li>
        <li class="nav-item active">
          <a
            class="nav-link"
            aria-current="page"
            href="{% url 'mypage' user.pk %}"
            >マイページ</a
          >
        </li>
        <li class="nav-item active">
          <a class="nav-link" aria-current="page" href="{% url 'logout'%}"
            >ログアウト</a
          >
        </li>
      </ul>
      <a class="nav-link" aria-current="page" href="{% url 'mypage' user.pk %}"
        >{{ user.get_username }}</a
      >
    </div>
  </div>
</nav>

{% if user.is_authenticated %}
<form method="POST" enctype="multipart/form-data">{% csrf_token %}
<section class="form-dark mb-5">
  <div class="card card-image">
    <div class="text-white rgba-stylish-strong py-5 px-5 z-depth-4">
      <div class="text-center">
        <h3 class="white-text mb-5 mt-4 font-weight-bold text-uppercase"><strong><font color="black">Share Amazing Course</font></strong></h3>
      </div>

      <div class="md-form">
        <label for="form100"><font color="black">Course Title</font></label>
        <input type="text" id="form100" class="form-control" name="coursetitle">
        
      </div>

      <div class="md-form">
        <label for="form101"><font color="black">Course Maker</font></label>
        <input type="text" id="form101" class="form-control" name="coursemaker">
      </div>

      <div class="md-form">
        <label for="form102"><font color="black">Course ID</font></label>
        <input type="text" id="form102" class="form-control" name="courseid">
      </div>

      <div class="md-form">
        <label for="form103"><font color="black">Course Image:(※任意)(アスペクト比=16:9)</font></label>
        <input type="file" id="form103" class="form-control" name="courseimage">
      </div>

      <div class="md-form">
        <label for="form103"><font color="black">Course Video</font></label>
        <input type="link" id="form104" class="md-textarea form-control" rows="5" name="coursevideo">
      </div>

      <div class="md-form">
        <label for="form103"><font color="black">Course Category</font></label>
        <select type="text" name="coursecategory" id="form105" class="md-textarea form-control">
        <option value="" selected>------------</option>
        {% for item in category_list %}
        <option value="{{item.pk}}" name="coursecategory">{{item.name}}</option>
        {% endfor %}
      </select>
      </div>

      <div class="md-form">
        <label for="form103"><font color="black">Description</font></label>
        <textarea id="form106" class="md-textarea form-control" rows="5" name="comment"></textarea>
      </div>
      <input type="hidden" name="contributer" value="{{ user.username }}">
      <div class="row d-flex align-items-center">
        <div class="text-center col-md-12 mt-3 mb-2">
          <button type="submit" class="btn btn-success btn-block btn-rounded z-depth-1" value="share">Share</button>
        </div>
      </div>
    </div>
  </div>
</section>
</form>
{% else %}
<container>
  <container>
      <div class="text-white rgba-stylish-strong py-5 px-5 z-depth-4">
        <div class="text-center">
        <h3 class="white-text mb-5 mt-4">
            <font color="black"
              >You are not loggin. Please login.</font
            >
        </h3>
        <a href="{% url 'login' %}" class="login-btn">ログインする</a>
      </div>
    </div>
{% endif %}
{% endblock content %}


{% block footer %}
<!-- Footer -->
<footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container p-4">
    <!-- Section: Social media -->
    <section class="mb-3">
      <!-- Facebook -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.youtube.com/channel/UCCuV7uVtUb6p5bglcK2bN0w" role="button"
        ><i class="fab fa-youtube"></i>
      </a>

      <!-- Twitter -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://twitter.com/juvenile_1225" role="button"
        ><i class="fab fa-twitter"></i
      ></a>

      <!-- Github -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/Shin-sibainu" role="button"
        ><i class="fab fa-github"></i
      ></a>
    </section>
    <!-- Section: Form -->

    <!-- Section: Text -->
    <section class="mb-1">
      <p>
        This site is created by Juvenile. Something happend, please contact my twitter.
        Let's Enjoy MarioMaker2 Life!   
      </p>
    </section>
      </div>
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2021 Copyright:
    <a class="text-white" href="https://twitter.com/juvenile_1225">MarioShare.com</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
{% endblock footer %}